<div class="author">
  <h1 class="author__heading">Hi, I am Rudra.</h1>
  <p class="author__body">Web Developer and Content Creator</p>
</div>

<main class="about-main">
  <div class="container-about">
    <img src="/img/profile.png" alt="creator_image" />
  </div>
  <div class="desc">
    <section class="about-me-section">
        
        <h2>About Me</h2>

       <p>
            I'm a web developer and a student currently pursuing a computer science degree. I'm deeply passionate about all aspects of software development.
        </p>

        <p style="font-weight: 500;">
            My goal is to become a creative software developer, with a focus on building unique, innovative, and impactful applications.
        </p>
    </section>
    </div>
  </div>
</main>
