<div class="author">
  <h2 class="author__heading">Hi, Welcome to Blogverse.</h2>
  <p class="author__body">This is a Personal Blog website.</p>
</div>
<img
  src="/img/BackgroundHome.jpg"
  alt="author image"
  class="author-img"
  width="500"
  height="300"
/>
<section class="articles">
  <h2 class="article__heading">Latest Posts</h2>
  <ul class="article-ul">
    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list__date"
          ><%= post.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>
  <% if (nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View older posts</a>
  <% } %>
</section>
